{% extends "pics/base.html" %} {% block content %}

<section class="mt-5">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-6">
        <a class="text-decoration-none text-dark" href="{% url 'pics-home' %}">
          <i class="bi bi-arrow-left h1"></i
        ></a>

        <div class="d-flex flex-row flex-wrap">
          {% for picture in deleted_pictures %}
          <div class="me-4">
            <a
              class="text-decoration-none text-dark"
              href="{% url 'deletedPicture-detail' picture.id %}"
            >
              <img
                class="image-fluid rounded h-100 w-100"
                src="{{picture.image.url}}"
                alt="{{ picture.owner.username }}"
              />
            </a>
          </div>
          {% empty %}
          <h1></h1>
          {% endfor %}
        </div>
      </div>
      <!--  -->
      <div class="col-md-6">
        <div class="d-flex flex-row flex-wrap">
          {% for folder in deleted_folders %}
          <div class="me-5 mt-5">
            <a class="text-decoration-none text-dark" href="#">
              <i class="fas fa-folder fa-7x"></i>
              <span class="text-center d-block">{{folder.name}}</span>
            </a>
          </div>
          {% empty %}
          <h1></h1>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
